body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-group-text{
    background-color: lightpink;
}

.curr-select:hover{
    background-color: aqua;
}

.incbutton{
    background-color: #04AA6D; /* Green */
    border: none;
    border-radius: 50%;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.decbutton{
    background-color: red;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
    margin: 4px 2px;
    cursor: pointer;
}